body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 10px;
}

.checklist {
    margin-bottom: 20px;
    width: 100%;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid;
    padding: 10px;
}

.banner {
    width: 100%;
    height: 200px; /* Adjust this value to your liking */
    object-fit: cover;
}

@media (min-width: 600px) {
    .checklist {
        width: 80%;
    }
}

@media (min-width: 900px) {
    .checklist {
        width: 60%;
    }
}